@import '~antd/dist/antd.css';

/* RWD Container */
.container {
    width: 100%;
    display: flex;
    align-self: center;
    margin: auto;
}

/* sm */
@media (min-width: 576px) { 
  .container {
    width: 540px;
  }
} 

/* md */
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
} 

/* lg */
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
} 

/* xl */
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
} 

/* xxl */
@media (min-width: 1600px) {
  .container {
    width: 1500px;
  }
} 

/* general */
body {
  font-size: 16px;
  line-height: 1.6;
  background-color: #FFFFFF;
  color: white;
}

.container-fluid {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}

.layout-header,
.layout-footer{
  padding: 0;
  height: auto;
  line-height: 1.6;
  background-color: white;
}

.layout-content {
  background-color: #FFFFFF;
  margin-top: 20px;
}

.main-layout {
  min-height: 100vh;
  background-color: #FFFFFF;
}

.bg-gray {
  background-color: #FFFFFF;
}

.text-gray {
  color: #111828;
  opacity: 0.6; 
}

/* Cart */
.cart-summary-text {
  color: white;
  font-size: 0.8rem;
  opacity: 0.6;
  margin-top: -4px;
}

.ant-modal-title {
  font-weight: lighter;
  font-size: 1.7rem;
}

.ant-modal-body {
  font-size: 1rem;
}

.cart-modal-btn {
  width: 100%;
  font-size: 1.1rem;
  font-weight: lighter;
  padding: 0.7rem;
  height: auto;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: .1rem #c0c0c0 solid;
}

.cart-image img{
  max-width: 4rem;
  max-height: 4rem;
  flex: 1 1;
}

.cart-item-content {
  margin-left: 2rem;
  flex: 8 1;
}

.cart-price {
  font-size: 1rem;
  font-weight: bold;
  text-align: right;
}

.cart-item-delete {
  font-size: 1.2rem;
  opacity: 0.6;
  text-align: right;
  cursor: pointer;
}

.cart-total-price-wrap {display: flex; justify-content: space-between;}
.cart-total-price {
  font-weight: bold;
  text-align: right;
}

@media (max-width: 768px) {
  .cart-summary-text {
    display: none;
  }
} 

.hr-header-line {
  margin: 25px auto 30px;
  padding: 0;
  width: 100px;
  border: 0;
  border-top: solid 6px;
  border-color: #6366F2;
  border-radius: 50%;
  opacity: 1;
}

/* Slide */
.Slide{
  width: 100%;
  height: 435px;
  display: 'flex';
}

.content-slide{
  margin-top: 20px;
}

/*andt*/
.radio-style{
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.input-number{
  width:3.5rem;
}

/* activity Item */
.activity {
  border-radius: 1%;
  border: solid gray 1px;
  width: 90%;
  margin-top: 20px;
}

.activityItem-img{
  border-radius: 1%;
}

.ant-card-body{
  padding: 0;
}

.activity-info {
  padding: 1.2rem;
}

.activity-info--detail {
  padding: 0 1.2rem;
}

.activity-category {
  color: #111828;
  opacity: 0.4;
  margin-bottom: 0.2rem;
}

.activity-name {
  color: #111828;
  margin-bottom: 0.5rem;
}

.activity-description {
  color: #111828;
  opacity: 0.6;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.activity-more {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
}

.activity-link {
  text-decoration: none;
  align-self: center;
  color: #9014FF;
}

/* Breadcrumb */
.breadcrumb{
  margin-left: 30px;
}

.breadcrumb--1{
  margin-bottom: 30px;
}

.breadcrumb-item:hover{
  color:rgb(199, 199, 199);
}

/* Detail Page */
.activity-image {
  border-radius: 2%;
}

.activity-name--large {
  display: flex;
  font-size: 1.5rem;
}

.activity-price--large {
  font-size: 1.5rem;
  font-weight: bold;
  color: #dd0000;
  background-color: #f5f5f5;
  padding:1rem;
}

.activity-price-wrap {
  display: flex;
  flex-direction: column;
}

.activity-item{
  color:rgb(66, 66, 66);
}

.notice{
  font-size: 0.8rem;
  opacity: 0.4;
  margin:0.3rem 0.5rem;
}

.qty-number {
  color: #000;
  background-color: #FFFFFF;
}

.select-style {
  font-size: 0.8rem;
}

.site-custom-tab-bar {
  z-index: 1;
  background: #fff;
}

.btn-toprefer {
  height: auto;
  font-size: 1.4rem;
  /* padding: 0.5rem 2rem; */
}

.btn-toprefer:hover{
  font-size: 1.6rem;
}

.btn-tocar {
  height: auto;
  font-size: 1rem;
  padding: 0.3rem 2rem;
}

@media (min-width: 992px) {
  .activity-image {
    height: 24rem;
  }
}

/* Header */
.header {
  margin-top:1rem;
  margin-bottom:2rem;
  text-align: center;
}

.header-slogan {
  width: 100%;
}

/*Nav-bar*/
.nav-bar {
  margin-left:40%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 1.7rem;
}

.nav-item {
  font-size: 1.1rem;
  font-style: italic;
  text-align: center;
  color: #9014FF;
  opacity: 0.8;
  transition: opacity .25s linear;
}

.nav-item:hover {
  color: #2bff47;
  font-weight: bold;
  opacity: 1;
  transform: scale(1.2)!important;
}

.nav-item:active {
  transform: scale(1.1)!important;
}

/* Preference */
.nopreference{
  color:rgb(66, 66, 66);
  margin-top: 100px;
  text-align: center;
}

.prefer-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: .1rem #c0c0c0 solid;
}

.prefer-image img{
  max-width: 4rem;
  max-height: 4rem;
  flex: 1 1;
}

.prefer-item-delete {
  color:rgb(66, 66, 66);
  font-size: 1.4rem;
  opacity: 0.6;
  text-align: right;
  cursor: pointer;
  margin-right: 35px;
  margin-bottom: 20px;
}

.prefer-name{
  color: rgb(66, 66, 66);
}

/* Footer */
.footer {
  width: 80%;
  margin-left: 10%;
  margin-top: 2rem;
  margin-bottom: 3rem;
  text-align: center;
}

.footer-area{
  display: flex;
  flex-direction: column;
  align-self:flex-start;
  align-items: flex-start;
}

.footer-title{
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(66, 66, 66);
  opacity: 0.8;
}

.footer-item {
  font-size: 1rem;
  line-height: 2.5rem;
  color: rgb(66, 66, 66);
  opacity: 0.6;
}

.footer-icon{
  width:1rem;
  margin-right: 1rem;
}

.footer-item:hover {
  color: #c583ff;
  opacity: 0.8;
  transform: scale(1.05);
}

.footer-item:active {
  color: #ae52ff;
  transform: scale(1);
}

.statement{
  margin-top: 2rem;
  font-size: 0.8rem;
  color:rgb(66, 66, 66);
  opacity: 0.4;
}

