.ant-breadcrumb {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(240,240,240, 0.85);
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: 'tnum';
    color: rgba(240,240,240, 0.45);
    font-size: 14px;
  }
  .ant-breadcrumb .anticon {
    font-size: 14px;
  }
  .ant-breadcrumb a {
    color: rgba(240,240,240, 0.45);
    transition: color 0.3s;
  }
  .ant-breadcrumb a:hover {
    color: #40a9ff;
  }
  .ant-breadcrumb > span:last-child {
    color: rgba(240,240,240, 0.85);
  }
  .ant-breadcrumb > span:last-child a {
    color: rgba(240,240,240, 0.85);
  }
  .ant-breadcrumb > span:last-child .ant-breadcrumb-separator {
    display: none;
  }
  .ant-breadcrumb-separator {
    margin: 0 8px;
    color: rgba(240,240,240, 0.45);
  }
  .ant-input-textarea-show-count::after {
    float: right;
    color: rgba(255, 255, 255, 0.45);
    white-space: nowrap;
    content: attr(data-count);
    pointer-events: none;
  }
  .ant-avatar {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.85);
    border: 1px solid white;
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: 'tnum';
    position: relative;
    display: inline-block;
    overflow: hidden;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    background: #ccc;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 50%;
  }